ICON_RESOURCE ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "UAA"
      VALUE "FileDescription", "Pcapsule GUI"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "pcapsule"
      VALUE "LegalCopyright", "MIT"
      VALUE "OriginalFilename", "pcapsule_Windows.exe"
      VALUE "ProductName", "pcapsule"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
